<!-- views/pages/story.ejs -->

<!DOCTYPE html>
<html lang="zh">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">

            <div class="col-sm-8">

                <div class="jumbotron">
					<h2>安價</h2>
					<form id="image_form">
						<input id="image_file" type='file' name='image'/><br/>
						<textarea id="image_text" name="text" style="width:95%;" rows="3"></textarea><br/>
						<button class="btn btn-primary" data-loading-text="Sending...">Send</button>
					</form>
                </div>

                <div class="jumbotron">
					<h2>安價</h2>
					<form id="comment_form">
						<input id="comment_author" type="text" placeholder="Nickname" name="author" />
						<input id="comment_text" type="text" placeholder="Content" name="text" />
						<button class="btn btn-primary" data-loading-text="Sending...">Send</button>
					</form>
                </div>

                <div class="well">
					<h2>Comments</h2>
					<ul id="comments_content">
						<% for(var i = 0; i < comments.length; ++ i ){ %>
							<div class="row">
								<div class="col-md-2">
									<%= comments[i].author %>
								</div>
								<div class="col-md-4">
									<%= comments[i].text %>
								</div>
								<div class="col-md-3 col-md-offset-3">
									<% var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]; %>
									<% var d = new Date(comments[i]._id.getTimestamp()) %>
									<%= monthNames[d.getMonth()] + " " + (d.getDate() < 10 ? '0' : '') + d.getDate() + " " + d.toLocaleTimeString() %>
								</div>
							</div>
						<% } %>
					</ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
    				<h2>Contents</h2>
    				<ul id="images_content">
    					<% for(var i = 0; i < contents.length; ++ i ){ %>
    						<a href="/story/<%= storyId %>#<%= i %>">
    							<li>
    								<img title="<%= contents[i].title %>" src="/uploads/thumbs/<%= storyId %>/<%= contents[i].image %>" />
    								<small class="muted">
    									<%= contents[i].text %>
    								</small>
    							</li>
    						</a>
    					<% } %>
    				</ul>
                </div>
            </div>

        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/socket.io-stream.js"></script>
    <script>
        var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
        var socket = io('http://140.116.247.90:4104/story');

        var file = null;
        $('#image_file').change(function(e){
            file = e.target.files[0];
            console.log(file);
        });
        $('#image_form').submit(function(){
            $('#image_file').css('box-shadow', '');
            $('#image_text').css('box-shadow', '');
            if(!file) $('#image_file').focus().css('box-shadow', '0px 0px 3px red');
            else if($('#image_text').val() == "") $('#image_text').focus().css('box-shadow', '0px 0px 3px red');
            else{
                var stream = ss.createStream();
                ss(socket).emit('story image', stream, {title: file.name, text: $('#image_text').val()});
                ss.createBlobReadStream(file).pipe(stream);

                $('#image_file').val("");
                $('#image_text').val("");
            }
            return false;
        });

        $('#comment_form').submit(function(){
            $('#comment_author').css('box-shadow', '');
            $('#comment_text').css('box-shadow', '');
            if($('#comment_author').val() == "") $('#comment_author').focus().css('box-shadow', '0px 0px 3px red');
            else if($('#comment_text').val() == "") $('#comment_text').focus().css('box-shadow', '0px 0px 3px red');
            else{
                var comment = {
                    author: $('#comment_author').val(),
                    text: $('#comment_text').val()
                }
                socket.emit('story comment', comment);
                $('#comment_text').val("");
            }
            return false;
        });



        socket.on('story image', function(img){
            //console.log(img);
            var image = $("<img />").attr("title", img.title).attr("src", "/uploads/thumbs/" + img.article_id + "/" + img.image);
            var text = $("<small></small>").addClass("muted").text(img.text);
            var li = $("<li></li>").append(image).append(text);
            $("#images_content").append(li);
        });

        socket.on('story comment', function(comment){
            //console.log(comment);
            var author = $("<div></div>").addClass("col-md-2").text(comment.author);
            var text = $("<div></div>").addClass("col-md-4").text(comment.text);
            var d = new Date(comment.time);
            var time = $("<div></div>").addClass("col-md-3").addClass("col-md-offset-3").text(monthNames[d.getMonth()] + " " + (d.getDate() < 10 ? '0' : '') + d.getDate() + " " + d.toLocaleTimeString('zh-TW', { hour12: false }));
            var row = $("<div></div>").addClass("row").append(author).append(text).append(time);
            $("#comments_content").append(row);
        });
    </script>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
