<!-- views/pages/story.ejs -->

<!DOCTYPE html>
<html lang="zh">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
					<h2>安價</h2>
					<form method='post' action='/story/<%= storyId %>' enctype='multipart/form-data'>
						<input type='file' name='image'/><br/>
						<textarea name="text" style="width:95%;" rows="3"></textarea><br/>
						<button type="submit" class="btn btn-primary" data-loading-text="Sending...">Send</button>
					</form>
                </div>
				
                <div class="jumbotron">
					<h2>安價</h2>
					<form method='post' action='/comment/<%= storyId %>/'>
						<input id="author" type="text" placeholder="Nickname" name="author" required>
						<input id="text" type="text" placeholder="Content" name="text" required>
						<button type="submit" class="btn btn-primary" data-loading-text="Sending...">Send</button>
					</form>
                </div>
				
                <div class="well">
					<h2>Comments</h2>
					<ul>
						<% for(var i = 0; i < comments.length; ++ i ){ %>
							<div class="row">
								<div class="col-md-2">
									<%= comments[i].author %>
								</div>
								<div class="col-md-4">
									<%= comments[i].text %>
								</div>
								<div class="col-md-3 col-md-offset-3">
									<% var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]; %>
									<% var d = new Date(comments[i]._id.getTimestamp()) %>
									<%= monthNames[d.getMonth()] + " " + d.getDate() + " " + d.toLocaleTimeString() %>
								</div>
							</div>
						<% } %>
					</ul>
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well">
					<h2>Contents</h2>
					<ul>
						<% for(var i = 0; i < contents.length; ++ i ){ %>
							<a href="/story/<%= storyId %>#<%= i %>">
								<li>
									<img title="<%= contents[i].title %>" src="/uploads/thumbs/<%= storyId %>/<%= contents[i].image %>" />
									<small class="muted">
										<%= contents[i].text %>
									</small>
								</li>
							</a>
						<% } %>
					</ul>
                </div>

            </div>
        </div>
    </main>

	<div id="content"></div>
	<script src="js/main.js"></script>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>